{{> head }}

  {{> navbar}}

  <main class="container">

    <div class="row">
      <div class="col-4">
        <img class="img-thumbnail" src="assets/img/download.jpeg" alt="">
      </div>
      <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, enim eveniet, esse vero laudantium consequatur blanditiis cumque tempora velit, voluptatum veritatis doloremque architecto voluptates odit. Recusandae voluptates mollitia incidunt omnis.</p>
      </div>
    </div>
  </main>

{{> footer }}